body{
 background-size: cover;
}
.heading{
    background-color: rgb(245, 245, 5);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#note{
    font-size: 15px;
    color: coral;
    
}

#song_name{
    font-size: 30px;
    color: darkviolet;
    box-shadow: 5px 5px 5px rgb(255, 47, 47);
    background-color: rgb(52, 224, 52);
    border-radius: 5px;
}

canvas{
    background-color: rgb(223, 118, 223);
    box-shadow: 5px 5px 8px rgb(1, 167, 233);
}